*{
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  padding: 10px 100px 200px 100px; /* 上 右 下 左*/
  line-height: 28px;
}

#main-title{
  margin-top: 200px;
}


h1{
  margin-top: 50px;
}

h1.title{
  margin-top: 30px;
}

.page-title{
  height: 50px;
  margin-top: 20px;
  text-align: center;
  background: #EFEFEF;
  line-height: 50px;
}

h1#main-title{
  margin-top: 100px;
}

h1[data=title]{
  color: #666;
}

#main-title[data]{
  color: #F00 !important;
}



.cover{
  padding: 60px 0;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #EFEFEF;
  text-align: center;
}

.content{
  margin-bottom: 30px;
  padding: 30px 0;
  background: #EFEFEF
}

.article{
  border: 1px solid #CCC;
  width: 300px;
  height: 100px;
  padding: 10px;
  margin: 0 auto;
  background: yellow;
}